@import "include/mixins";
@import "include/fonts";
@import "include/global";
@import "include/header";


.test {
	background-image: url('../img/image.jpg');
}
.div {
	.main {
		@media(max-width: 767px) {
			color: red;
		}
	}
}

@media(max-width: 767px) {
	.main2 {
		color: blue;
	}
}
